# ============================================
# Node.js / Frontend (React + Vite)
# ============================================
node_modules/
dist/
build/
.env
.env.local

# ============================================
# Java / Backend (Spring Boot)
# ============================================
target/
*.class
.mvn/
*.jar

# ============================================
# Python
# ============================================
__pycache__/
*.pyc
.venv/

# ============================================
# Sistema / IDE
# ============================================
.DS_Store
.vscode/
.idea/

# ============================================
# Herramientas / Instalaciones
# ============================================
apache-maven-3.9.12-bin/

# ============================================
# Logs
# ============================================
*.log
